.main{ display: flex;
flex-direction: column;
margin: 1px auto;
justify-content: center;

width: 60%;
}

.firstPart{
    display:  flex;
    flex-direction: column;
   height: 300px;
}

.main h1{
    margin: 0px;
}

.firstPart h2{
    margin: 5px;
}

.firstPart p{
    margin: 5px;
}
.secondPart h2{
    margin: 5px;
    
}

.secondPart p{
    margin: 5px;
}
.secondPart{
    display:  flex;
    flex-direction: column;
   
    margin-top: 0px;
   
}


.cards{
    display: flex;
    flex-direction: row;
   
    justify-content:space-around;
}

.pocemonCard{
    display: flex;
   
    flex-direction: column;
    width: 200px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
    transition: width 3s, height 4s;
}


.pocemonCard img{
    width: 150px;
    height: auto;
    margin: 2px auto;
    background-color: rgb(194, 188, 188);
}

.pocemonCard img:hover {
	transform: scale(1.15);
	opacity: 0.5;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 50px auto;
    
}